footer#footer
  nav
    ul.menu-footer
      li: +link("Korn/Ferry International")
      li: +link("Futurestep")
      li: +link("Lominger")
      li: +link("PDI")
      li: +link("Thought Leadership")
  .copy-right.container
    .copy
      | © 2014 Korn Ferry. All Rights Reserved
      +link("Terms")
      +link("Privacy")
    .language
      .select-inner
        select
          option(value="//www.kornferry.com?___store=default", selected="selected") English
          option(value="//www.kornferry.cn") Chinese
          option(value="//www.kornferry.jp") Japanese
          option(value="//www.kornferry.fr") French
          option(value="//www.kornferry.com/?___store=spanish") Spanish
