header#header
  .container
    .pull-left
      h1.logo
        +link("Future Step", "home.html").wi-general.wi-logo
    nav.pull-right.nav
      ul.nav-secondary
        li: +link("Blog", "blog.html")
        li: +link("Events", "events.html")
        li: +link("News &amp; Press", "news-press.html")
        li: +link("Contact us", "contact-us.html")
      button.icon.icon-search search
  nav.outer-main-menu
    ul.main-menu
      li: +link("Pro", "pro.html")
      li: +link("Search", "search.html")
      li: +link("Talent consulting", "talent-consuling.html")
      li: +link("Talent communications", "talent-communications.html")
      li: +link("Careers", "careers.html")
      li: +link("About", "about.html.html")
