aside#sidebar
  ul.btn-group
    li 
      a.btn.btn-1(href="javascript:void(0)", title="") Search and apply
    li
      a.btn.btn-1.bg-1(href="javascript:void(0)", title="")
  .box.bg
    h3.bg-line Careers with our clients
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .box.bg
    ul
      li
        a(href="javascript", title="Careers")
          i.icon.icon-career
          span Careers
      li
        a(href="javascript", title="Careers")
          i.icon.icon-location
          span Location
  .box.insights-box
    h3 Recent insights
    ul
      li
        a(href="javascript", title="Webinar - The Measure of Talent - Expert Panal Discussion")
          i.icon.icon-web
          span Webinar - The Measure of Talent - Expert Panal Discussion
      li
        a(href="javascript", title="Six new solutions for impactful talent management")
          i.icon.icon-insights
          span Six new solutions for impactful talent management
      li
        a(href="javascript", title="HRO Today - Rerfect Pair: How employer brand and recruiting can work together to gain top talent")
          i.icon.icon-insights
          span HRO Today - Rerfect Pair: How employer brand and recruiting can work together to gain top talent
  .box.box-1.related-box
    h3 Related solutions 
    .inner
      +link("Integrate Talent Management")
      +link("Leadership Strategy")
  .box.box-1.download-box
    h3 Download
      ul
        li
          a(href="javascript", title="Donec hendrerit orci quis")
            i.icon.icon-download
            span Donec hendrerit orci quis
        li
          a(href="javascript", title="Vestibulum tempor tortor quis")
            i.icon.icon-download
            span Vestibulum tempor tortor quis
        li
          a(href="javascript", title="In dapibus turpis eros")
            i.icon.icon-download
            span In dapibus turpis eros
  .box.box-1.resources-box
    h3 Resources
    ul
      li
        a(href="javascript", title="In dapibus turpis eros")
          i.icon.icon-resources
          span In dapibus turpis eros
      li
        a(href="javascript", title="Vestibulum tempor tortor quis")
          i.icon.icon-resources
          span Vestibulum tempor tortor quis
      li
        a(href="javascript", title="Brute invenire expetenda qui ea equidem tale dolorem")
          i.icon.icon-resources
          span Brute invenire expetenda qui ea equidem tale dolorem
      li
        a(href="javascript", title="Per numquam detrruisset")
          i.icon.icon-resources
          span Per numquam detrruisset
  .box.bg
    p ConAgra Foods In ut augue ac dui fringilla posuere vitae nec ligula.
    +link("Read Case Study")
